<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgf.study.shardings_phere.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="com.hgf.study.shardings_phere.entity.Test">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name
    </sql>
    <select id="findById" resultType="com.hgf.study.shardings_phere.entity.Test">
        select * from test where id = #{id} limit 1
    </select>
</mapper>
